*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
@import "react-alice-carousel/lib/alice-carousel.css";


@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@600;700&family=Montserrat:wght@300;400;500;800&family=Noto+Sans:wght@400;700&family=Open+Sans:wght@300;400&family=Raleway:wght@200;300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .link{
    @apply text-white before:w-0 before:h-[2px] before:bg-secondary before:absolute before:top-[100%] hover:before:w-full before:transition-all
    before:duration-200
  }
  .open{
    @apply fixed z-50 top-0 left-0 h-screen w-screen flex flex-col items-center justify-center bg-[#0C0C0C] transition-all ease-in
  }
  .nav-link{
    @apply text-[#DCCA87] text-3xl font-alt before:w-0 before:h-[2px] before:bg-secondary before:absolute before:top-[100%] hover:before:w-full before:transition-all
    before:duration-200
  }

  .whiteText{
    @apply text-white text-xs md:text-base lg:text-lg
  }

  .p-common{
    @apply py-[4rem] px-8 xl:px-48 xl:py-[8rem]
  }

  .t-gray{
    @apply text-light-gray text-sm my-8 md:text-base lg:text-lg
  }

  .specialMenu{
    @apply text-white font-alt text-xl text-center mb-5  md:mb-12 md:text-3xl lg:text-4xl
  }

  .menu{
    @apply flex flex-col items-center
  }
  .carousel{
    @apply w-[200px] h-[280px]
  }
  .btn{
    @apply overflow-hidden relative after:bg-white after:h-[155px] after:-left-[75px] after:opacity-[0.3] after:absolute after:-top-[54px] after:transform after:rotate-[35deg] after:w-[50px] after:z-10
    hover:after:left-[120%] hover:after:transition-all hover:after:duration-500 
  }
  .socialIcons{
    @apply text-white text-2xl cursor-pointer hover:text-secondary
  }

  .overlay{
    @apply hidden absolute inset-0 bg-black opacity-[75%] group-hover:block
  }

  .overlayIcon{
    @apply hidden text-white w-[3.25rem] h-[3.25rem] absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 z-10 group-hover:block 
  }

}



